@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body{
	margin: 0;
	overflow: hidden;
/*	cursor: none;*/
}
.start_button{
	position: absolute;
	left: 50%;
	margin-left: -150px;
	background: white;
	top: 100px;
	width:300px;
	z-index: 2;
	border-radius: 20px;
	padding: 25px 0;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 26px;
	border: 5px solid #444444;
	color: #444444;
	cursor: pointer;
}
.notice{
	font-size: 12px;
	display: block;
	margin-top: 10px;
}
.start_button:hover{
	background: #444444;
	color: white;
	border: 5px solid white;
}
.start_button:active{
	color: red;
	border: 5px solid red;
}
#container{
	width: 100%;
	height: 100vh;
	background: url(pics/space3.jpg);
}
#spaceship{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 20px;
	background: #4B4E31;
}
#spaceship:after{
	content: "";
	display: block;
	position: relative;
	top: -30px;
	left: 20px;
	height: 15px;
	width:60px;
	background: #4B4E31;
}
#spaceship:before{
	content: "";
	display: block;
	position: relative;
	top: -30px;
	left: 45px;
	height: 15px;
	width:10px;
	background: #4B4E31;
}
.rocket{
	width: 4px;
	height: 10px;
	position: absolute;
	bottom: 75px;
	left: 50%;
	margin-left: -2px;
	border-radius: 2px;
	background: yellow;
	-webkit-box-shadow: 0px 0px 20px 10px rgba(255,0,51,0.51);
	-moz-box-shadow: 0px 0px 20px 10px rgba(255,0,51,0.51);
	box-shadow: 0px 0px 20px 10px rgba(255,0,51,0.51);
}
.aliens{
	width:60px;
	height: 43px;
	position: absolute;
	top:0;
	left: 15px;
	background: url(pics/move1.png);
}
.game_score{
	position: fixed;
	top: 0;
	right: 0;
	font-family: 'Press Start 2P', cursive;
	font-size: 26px;
	color: green;
	z-index: 3;
    margin: 25px;
}
.game_score:before{
	content: "score: ";
}
.ammo{
	position: fixed;
	top: 0;
	left: 0;
	font-family: 'Press Start 2P', cursive;
	font-size: 26px;
	color: green;
	z-index: 3;
    margin: 25px;
}
.ammo:before{
	content: "Ammo: ";
}
.gameover{
	display: none;
	position: fixed;
	z-index: 8;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	border: 5px solid #444444;
	border-radius: 25px;
	box-sizing: border-box;
}
.youwin{
    display: none;
	position: fixed;
	z-index: 9;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	border: 5px solid #444444;
	border-radius: 25px;
	box-sizing: border-box;
}
.yourscore{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	color: #444444;
}
.gameover_inscription{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	color: #444444;
}
.gameover_notice{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 30px;
	color: #444444;
}